@use '_variables.scss' as *;
@use '_reset.scss' as *;

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
	margin: 0 0.1rem;
	transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
	border-radius: .5rem;
	&[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:hover:not([disabled]) {
		//background-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
	}
	&.delete {
		color: map-get($colors, danger-color);
	}
	&.square {
		aspect-ratio: 1 / 1;
	}
	&.active {
		background-color: map-get($colors, primary-color);
		color: white;
		box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
	}
}

input[type="text"],
input[type="number"] {
	max-width: fit-content;
	width: 100%;
	background-color: transparent;
	border: 1px solid map-get($colors, border-light);
	border-radius: 4px;
	padding: 0.2rem 0.4rem;
	color: map-get($colors, text-secondary);
	transition: border-color .3s ease-in-out;

	&:focus {
		border-color: map-get($colors, primary-color);
		outline: none;
	}
}

input[type="color"] {
	padding: 0;
	width: 2rem;
	height: 2rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	&::-webkit-color-swatch {
		border-radius: 50%;
		aspect-ratio: 1 / 1;
	}
}

input[type="range"] {
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 0.6rem;	
	background: transparent;
	background: map-get($colors , primary-color );
	margin: auto 0;

	&::-webkit-slider-runnable-track, &::-moz-range-track {
		background: map-get($colors , primary-color );
		height: 0.6rem;
	}


}

body {
	background-color: map-get($colors , bg-dark);
	color: rgb(226, 233, 240);
	overflow: hidden;
}

.app__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
}



.canvas{
	&__wrapper {
		position:relative;
	}
	&__container{
		//background-color: map-get($colors, bg-light);
		background: white repeating-conic-gradient(
			#0000001e 0deg 90deg,
			#ffffff1e 90deg 180deg
		  );
		background-size: 20px 20px;
		border: 1px solid map-get($colors, border-light);
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		max-width: fit-content;
		position: relative;
		z-index: 100;
		cursor: none;
		width: var(--canvas-width);
		height: var(--canvas-height);
	}
	&__layer{
		&:not(:first-of-type) {
			position: absolute;
			inset: 0;
		}
		&.inactive {
			opacity: 0.5;
			pointer-events: none;
		}
		&.hidden{
			display: none;
		}
		&:first-of-type {
			width: var(--canvas-width);
			height: var(--canvas-height);
		}
	}
	&__preview{
		width: 100%;
	}
	&__resizing{
		position:absolute;
		//background-color: #fff;
		//z-index: -1;
		opacity: 0.1;
		transition: opacity .3s ease-in-out;

		z-index: 10;

		&:hover{
			opacity: 0.3;
		}

		&--top {
			top: -2rem;
			left: 50%;
			transform: translateX(-50%);
			cursor: ns-resize;
			height: 2rem;
			width: calc(var(--canvas-width) - 4rem);
			background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 1) 100%);
		}
		&--bottom {
			bottom: -2rem;
			height: 2rem;
			width: calc(var(--canvas-width) - 4rem);
			left: 50%;
			transform: translateX(-50%);
			cursor: ns-resize;
			background: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 1) 100%);
		}
		&--left {
			left: -2rem;
			top: 50%;
			height: calc(var(--canvas-height) - 4rem);
			width: 2rem;
			transform: translateY(-50%);
			cursor: ew-resize;
			background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 1) 100%);
		}
		&--right {
			right: -2rem;
			width: 2rem;
			height: calc(var(--canvas-height) - 4rem);
			top: 50%;
			transform: translateY(-50%);
			cursor: ew-resize;
			background: linear-gradient(to left, transparent 0%, rgba(255, 255, 255, 1) 100%);
		}
		&--top-left {
			top: -2rem;
			left: -2rem;
			width: 4rem;
			height: 4rem;
			cursor: nwse-resize;
			background: radial-gradient(circle at 100% 100%, rgba(255, 255, 255, 1) 0%, transparent 90%);
		}
		&--top-right {
			top: -2rem;
			right: -2rem;
			cursor: nesw-resize;
			width: 4rem;
			height: 4rem;
			background: radial-gradient(circle at 0 100%, rgba(255, 255, 255, 1) 0%, transparent 90%);
		}
		&--bottom-left {
			bottom: -2rem;
			left: -2rem;
			cursor: nesw-resize;
			width: 4rem;
			height: 4rem;
			background: radial-gradient(circle at 100% 0, rgba(255, 255, 255, 1) 0%, transparent 90%);
		}
		&--bottom-right {
			bottom: -2rem;
			right: -2rem;
			cursor: nwse-resize;
			width: 4rem;
			height: 4rem;
			background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 1) 0%, transparent 90%);
		}
	}

	&__brush {
		border-radius: 50%;
		position: absolute;
		z-index: 2000;
		pointer-events: none;
		transform: translate(-50%, -50%);
	}
}

.toolbox {
	background-color: map-get($colors, bg-light);
	border: 1px solid map-get($colors, border-light);
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	min-width: 250px;
	color: map-get($colors, text-secondary);
	overflow: hidden;
	gap: .5rem;

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&.left {

	}
	&.right {

	}

	&__dual-input{
		display: flex;
		justify-content: space-between;
	}

	&__pickers {
		display: flex;
		justify-content: space-between;

		input[type="range"] {
			background: linear-gradient( to right, transparent 0%, var(--chosen-color) 100%);
			
			&::-webkit-slider-runnable-track, &::-moz-range-track {
				background: linear-gradient(to right, transparent 0%, var(--chosen-color) 100%);
				border: solid rgba(0, 0, 0, 0.1) 0.1rem;
			}
		}
	}

	&__swatches {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		
	}
	&__swatch {
		width: 30px;
		height: 30px;
		border: solid map-get($colors, border-dark) 1px;
		border-radius: .5rem;
	}
}

.tools {

	&__brushes {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;

		button { 
			font-size: larger;
			max-width: 50%;
		}
		span {
			flex-grow: 1;
			text-align: center;
			font-weight: bold;
			color: map-get($colors, primary-color);
			cursor: default;
			pointer-events: none;
		}
	}
}


.layers {
	&__header {
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;
		align-items: center;
	}

	&__item {
		background-color: map-get($colors, bg-light);
		padding: .2rem .4rem;
		border-radius: 4px;
		margin: 0.2rem;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		position: relative;
		cursor: pointer;
		overflow: hidden;
		transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
		width: 250px;
		&:hover {
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			transform: translateX(-.1rem);
		}
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			bottom: 0;
			width: 0rem;
			background-color: transparent;
			transition: background-color .3s ease-in-out , width .3s ease-in-out;
		}
		&.active {
			&::before {
				width: .5rem;
				background-color: map-get($colors, primary-color);
			}
		}
		&__controls {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: .4rem .6rem;

			input {
				justify-self: start;
			}

			> span {
				flex-grow: 2;
			}

			
		}
	}
}



.dialog {
	&__overlay{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__container{
		background-color: map-get($colors, bg-light);
		border-radius: 1rem;
		padding: 1rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		max-width: 500px;
		width: 100%;
		z-index: 1001;
		display: flex;
		flex-direction: column;
		
	}
	&__header {
		display: flex; 
		justify-content: space-between;
		width: 100%;
		color: map-get($colors, text-secondary);
		font-weight: bold;
		margin-bottom: 1rem;
	}
	&__close {
		color: map-get($colors, danger-color);
		opacity: 0.5;
		font-size: 1.5rem;
		transition: opacity .3s ease-in-out;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
	&__body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		canvas {
			border: 1px solid map-get($colors, text-secondary)
		}
	}
	
}